<div class="row-pai ex-b">
  <as-split direction="horizontal" unit="pixel" useTransition="action.useTransition">
    <as-split-area size="220">
      <div *ngFor="let projeto of projetos; index as i" class="col-projeto">
        <div class="row-projeto">
          <div class="projeto-detalhe">
            <span class="projeto-detalhe-nome">
              Gernini {{i + 1}}
            </span>
            <span class="projeto-detalhe-previsao">
              30/09 a 30/10
            </span>
          </div>
        </div>
      </div>
      <hr class="divider"/>
      <div class="col-outros">
        <div class="row-projeto">
          <div class="adicionais-detalhe">
            <span class="projeto-detalhe-nome">
              Não alocado
            </span>
          </div>
        </div>
      </div>
      <div class="col-outros-2">
        <div class="row-projeto">
          <div class="adicionais-detalhe">
            <span class="projeto-detalhe-nome">
              Falta abonada
            </span>
          </div>
        </div>
      </div>
      <div class="col-outros">
        <div class="row-projeto">
          <div class="adicionais-detalhe">
            <span class="projeto-detalhe-nome">
              Ferias
            </span>
          </div>
        </div>
      </div>
    </as-split-area>
    <as-split-area size="*">
      <!-- ROW DE PROJETOS -->
      <div *ngFor="let projeto of projetos; index as i" class="col-detalhe">
        <div class="row-detalhe">
          <div *ngFor="let dia of daysInMonth; index as j" class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 0)">
            <div class="coldrop"></div>
          </div>
        </div>
      </div>
      <hr class="divider"/>
      <!-- ROW DE DIAS NÃO ALOCADOS -->
      <div class="col-detalhe">
        <div class="row-detalhe">
          <div *ngFor="let dia of daysInMonth; index as i" class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 0)">
            <div class="coldrop"></div>
          </div>
        </div>
      </div>
      <!-- ROW FALTAS ABONADAS -->
      <div class="row-detalhe-novo">
        <div *ngFor="let dia of daysInMonth; index as i" class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
      </div>
      <!-- ROW FERIAS -->
      <div class="row-detalhe-novo">
        <div *ngFor="let dia of daysInMonth; index as i" class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
