.nb-theme-cosmic nb-checkbox.status-primary .custom-checkbox {
  background-color: #f7f9fc;
  border-color: #a16eff;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // background-color: rgb(78, 39, 39);
}

.row-pai {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
//  background-color: rgb(78, 39, 39);
}

.projeto-detalhe-nome {
  padding-left: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #101426;

}

.projeto-detalhe-previsao {
  padding-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  color: #8f9bb3;
  font-size: 11px;
}

.col-projeto {
  position: relative;
  //background-color: rgb(51, 55, 104);
  width: 200px;
  //border-left: rgb(15, 1, 1) 1px solid;
}

.col-detalhe {
  position: relative;
  background-color: transparent;
  width: 29px;
}

.projeto-detalhe {
  width: 50%;
  padding-top: 5%;
  border-left: solid 10px #0083d9;
  margin-bottom: 2px;
}

.adicionais-detalhe {
  width: 80%;
  padding-top: 10%;
  border-left: solid 10px #a25ddc;
  margin-bottom: 2px;
}

.row-projeto {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: transparent;
  height: 70px;
  width: 200px;
}

.row-detalhe {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  //background-color: #fff;
  height: 70px;
  width: 960px;
  padding-bottom: 2px;
}

.row-detalhe-novo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  //background-color: #fff;
  height: 70px;
  width: 960px;
  padding-bottom: 2px;
}

.col-dia {
  position: relative;
  background-color: transparent;
  width: 30px;
  border-left: rgba(204, 204, 204, 0.36) 1px solid;
}

.col-dia-novo {
  padding-top: 2%;
  padding-left: 0.5%;
  position: relative;
  background-color: transparent;
  width: 30px;
  border-left: rgba(204, 204, 204, 0.36) 1px solid;
}

.coldrop {
  background-color: #ecf6fc;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  bottom:0;
  display: none;
}

.col-dia:hover .coldrop {
  display: block;
}

/* .col:hover{
  position: relative;
  background-color: #64bdf0;
  width: 29px;
  border-left: #CCC 1px solid;
} */
.col-dia:last-child {
  border-right: #cccccc63 1px solid;
  width: 30px;
}
