<div class="row-pai ex-b">
  <as-split direction="horizontal" unit="pixel" useTransition="action.useTransition">
    <as-split-area size="220">
      <div class="col-projeto">
        <div class="row-projeto">
          <div class="projeto-detalhe">
            <span class="projeto-detalhe-nome">
              Gernini
            </span>
            <span class="projeto-detalhe-previsao">
              30/09 a 30/10
            </span>
          </div>
        </div>
      </div>
      <div class="col-outros">
        <div class="row-projeto">
          <div class="adicionais-detalhe">
            <span class="projeto-detalhe-nome">
              Não alocado
            </span>
          </div>
        </div>
      </div>
      <div class="col-outros">
        <div class="row-projeto">
          <div class="adicionais-detalhe">
            <span class="projeto-detalhe-nome">
              Falta abonada
            </span>
          </div>
        </div>
      </div>
      <div class="col-outros">
        <div class="row-projeto">
          <div class="adicionais-detalhe">
            <span class="projeto-detalhe-nome">
              Ferias
            </span>
          </div>
        </div>
      </div>
    </as-split-area>
    <as-split-area size="*">
      <div class="col-detalhe">
        <div class="row-detalhe">
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 0)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 1)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 2)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 3)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 4)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 5)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 6)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 7)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 8)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 9)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 10)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 11)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 12)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 13)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 14)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 15)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 16)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 17)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 18)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 19)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 20)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 21)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 22)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 23)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 24)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 25)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 26)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 27)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 28)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 29)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 30)">
            <div class="coldrop"></div>
          </div>
          <div class="col-dia" (mouseenter)="animatePontoSelecionado(0.5, 31)">
            <div class="coldrop"></div>
          </div>
        </div>
      </div>
      <div class="row-detalhe-novo">
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
        <div class="col-dia-novo">
          <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
<hr />
<!-- <div class="row-pai ex-b">
  <as-split direction="horizontal" unit="pixel" useTransition="action.useTransition">
    <as-split-area size="220" gutterSize="1">
      <div class="col-abono">
        <div class="row-projeto">
          <div class="adicionais-detalhe">
            <span class="projeto-detalhe-nome">
              Falta Abonada
            </span>
          </div>
        </div>
      </div>
    </as-split-area>
    <as-split-area size="*">
        <div class="row-detalhe-novo">
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
          <div class="col-dia-novo">
            <nb-checkbox status="primary" (checkedChange)="toggle($event)"></nb-checkbox>
          </div>
        </div>
    </as-split-area>
  </as-split>
</div> -->
<br />
