@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

.nb-theme-default nb-layout .layout {
  background-color: #323259 !important;
}

.layout-container nb-sidebar.left {
  background-color: #323259;
}

.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed, .nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 0 !important;
}

// .nb-theme-default nb-sidebar {
//   box-shadow: none;
// }

.nb-theme-default nb-sidebar.compacted {
  width: 4.9rem;
}

.nb-theme-default nb-sidebar.compacted nb-menu {
  width: 4.9rem;
}

[dir=ltr] .nb-theme-default nb-action {
  padding-bottom: 15px;
  border-left: none;
}

.user-container {
  right: 10% !important;
}

.nb-theme-default nb-user .user-picture {
  border: none;
}

.nb-theme-default nb-menu .menu-item {
  border: none;
}

.user-picture {
  left: -3px;
}


.nb-theme-default p {
  color: #333;
}

nb-layout-column {
  border-radius: 12px 0 0 !important;
  background-color: white !important;
}

.nb-theme-default nb-sidebar.compacted .main-container {
  width: 7.5rem;
}
